<%- include ("../partials/message.ejs") %>
<section class="admin-form-container">
  <form class="admin-form" action="/admin/login" method="post">
    <h1 class="admin-form-title">Enter login details</h1>
    <div class="bar"></div>
    <div class="form-grid">
        <label>Username</label>
        <input required type="username" name="username">
        <label>Password</label>
        <input required type="password" name="password">
      </div>
      <div class="btn-row">
        <!-- link used for cancel, button used for form submit -->
        <a class="btn btn-danger" href="/" title="cancel and return to homepage">Cancel</a>
        <button class="btn btn-primary" type="submit" name="button">Login</button>
      </div>
      <div class="login-link">
        <p>Don't have an account? <a href="/admin/register" title="Go to the register page">Register</a></p>
      </div>
  </form>
</section>
