<div class="manage-container">
  <h1>What would you like to do?</h1>
  <div class="bar"></div>
  <div class="manage-options">
    <div class="add-remove">
      <h3>Add items</h3>
      <a href="/admin/addItem" title="Go to add item page">
        <img class="manage-image" src="/images/ring-drawing.png" alt="Cartoon picture of a ring">
      </a>
    </div>
    <div class="add-remove">
      <h3>Edit or delete items</h3>
      <a href="/admin/removeItem" title="Go to edit/delete item page">
        <img class="manage-image" src="/images/necklace-drawing.png" alt="Cartoon picture of a necklace">
      </a>
    </div>
  </div>
</div>
