<div class="manage-container">
  <h1>What would you like to do?</h1>
  <div class="bar"></div>
  <div class="manage-options">
    <div class="add-remove">
      <h3>Add items</h3>
      <a href="/admin/addItem">
        <img class="manage-image" src="/images/ring-drawing.png" alt="">
      </a>
    </div>
    <div class="add-remove">
      <h3>Edit or delete items</h3>
      <a href="/admin/removeItem">
        <img class="manage-image" src="/images/necklace-drawing.png" alt="">
      </a>
    </div>
  </div>
</div>
