<!-- VALIDATION ERRORS -->
<% if(typeof errors != "undefined") { %>
  <% errors.forEach(error => { %>
    <div class="error message">
      <%= error.msg %>
    </div>
  <% })%>
<% } %>

<!-- PASSPORT ERRORS -->
<% if (messages.error) { %>
  <div class="error message">
    <%= messages.error %>
  </div>
<% } %>
