<% if(locals.successMessage != null) { %>
  <div class="success message">
    <%= successMessage %>
  </div>
<% } %>
<% if(locals.errorMessage != null) { %>
  <div class="error message">
    <%= errorMessage %>
  </div>
<% } %>
