<!DOCTYPE html>
<html>

<head>
  <title>GPWebsite</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

  <script src="/script/script.js" defer></script>

  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cba779aa10.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="content-wrap">
    <section id="nav-bar">
      This our website
      <div class="menu">
        <button class="add-item">add item</button>
        <a href="about.html">
          <button class="button">About Page</button>
        </a>
        <a href="about.html">
          <button class="button">About Page</button>
        </a>
        <a href="about.html">
          <button class="button">About Page</button>
        </a>
        <a href="about.html">
          <button class="button">About Page</button>
        </a>
        <a href="about.html">
          <button class="button">About Page</button>
        </a>
        <div class="cart-btn">

          <span class="cart-icon">
            <i class="fas fa-shopping-bag"></i>
          </span>
          <div class="cart-items">0</div>
        </div>
      </div>
    </section>


    <!--Start of Cart-->
    <div class="cart-overlay">
      <div class="cart">
        <span class="close-cart">
          <i class="fas fa-window-close"></i>
        </span>
        <h2>my cart</h2>
        <div class="cart-content">

        </div>


      </div>
    </div>
    <%- body %>

    <!-- <div class="slideshow-container">
      <div class="mySlides fade">
        <img class="landing" src="images/LandingImage1.png" />
      </div>

      <div class="mySlides fade">
        <img class="landing" src="images/LandingImage2.png" />
      </div>

      <div class="mySlides fade">
        <img class="landing" src="images/LandingImage3.png" />
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <p class="about">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupixatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>

    <div class="line"></div>

    <h1 id="shop">Shop</h1>

    <div class="grid">
      <div class="grid_item">
        <img src="images/Ring.png" />
        <div class="overlay">
          <div class="text">Rings</div>
        </div>
      </div>

      <div class="grid_item">
        <img src="images/Necklace.png" />
        <div class="overlay">
          <div class="text">Necklaces</div>
        </div>
      </div>

      <div class="grid_item">
        <img src="images/Earring.png" />
        <div class="overlay">
          <div class="text">Earrings</div>
        </div>
      </div>

      <div class="grid_item">
        <img src="images/Bracelet.png" />
        <div class="overlay">
          <div class="text">Bracelets</div>
        </div>
      </div>
    </div> -->
  </div>
  <footer class="footer">
    <ul class="footerList">
      <li>About</li>
      <li>FAQ</li>
      <li>Contact us</li>
      <li>Delivery</li>
      <li>Terms and Conditions</li>
      <li>Privacy and Cookie Policy</li>
      <li>Accessibility</li>
    </ul>
  </footer>

  <!-- <script src="script.js" type="javascript"></script>

    <script src="script/script.js"></script> -->
</body>

</html>