<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <title>GPWebsite</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <script src="/script/script.js" defer>
  </script>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/cba779aa10.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="content-wrap">

    <!-- NAVBAR -->
    <section class="navbar">
      <div class="menu-center">
        <a href="/" title="Return to the homepage" class="site-icon">
          <div>Alistra</div>
        </a>
        <!-- NAVBAR LINKS -->
        <div class="navbar-links">
          <!-- LINK 1 -->
          <div class="drop-down">
            <a class="drop-down-title" title="Go to the admin page" href="/admin">Admin</a>
            <div class="drop-down-list">
              <% if (login) { %>
              <form action="/admin/logout?_method=DELETE" method="POST">
                <button class="logout drop-down-link" type="submit">Logout</button>
              </form>
              <% } %>
            </div>
          </div>
          <!-- LINK 2 -->
          <a class="drop-down-title" title="Go to the about page" href="/about">About</a>
          <!-- LINK 3 -->
          <div class="drop-down">
            <a class="drop-down-title" title="See all jewellery the shop has to offer"
              href="/jewellery/all">Jewellery</a>
            <div class="drop-down-list">
              <a class="drop-down-link" title="See all earrings the shop has to offer"
                href="/jewellery/earring">Earrings</a>
              <a class="drop-down-link" title="See all necklaces the shop has to offer"
                href="/jewellery/necklace">Necklaces</a>
              <a class="drop-down-link" title="See all bracelets the shop has to offer"
                href="/jewellery/bracelet">Bracelets</a>
              <a class="drop-down-link" title="See all rings the shop has to offer" href="/jewellery/ring">Rings</a>
            </div>
          </div>
          <!-- SHOPPING BASKET -->
          <div class="cart-btn">
            <span class="cart-icon">
              <i class="fas fa-shopping-bag"></i>
            </span>
            <div class="number-in-cart">0</div>
          </div>
        </div>
      </div>
    </section>
    <!-- END OF NAVBAR -->

    <!--Start of Cart-->
    <div class="cart-overlay">
      <div class="cart">
        <span class="close-cart">
          <i class="fas fa-window-close"></i>
        </span>
        <h2>my cart</h2>
        <div class="cart-content"></div>
        <div class="cart-footer">
          <h2>Total : £
            <span class="total">0</span>
          </h2>
          <a class="checkout" title="Proceed to checkout" href="/jewellery/checkout">Checkout</a>
        </div>
      </div>
    </div>
    <!-- END OF CART -->

    <!-- INSERTED HTML -->
    <%- body %>
  </div>
  <!-- FOOTER -->
  <footer class="footer">
    <ul class="footerList">
      <li>About</li>
      <li>FAQ</li>
      <li>Contact us</li>
      <li>Delivery</li>
      <li>Terms and Conditions</li>
      <li>Privacy and Cookie Policy</li>
      <li>Accessibility</li>
    </ul>
  </footer>

</body>
<<<<<<< HEAD </html>
  =======

</html>
>>>>>>> 8202e729ee4130cd7dc3d1eae4f5c87e52797074