<section class="admin-form-container">
  <form class="admin-form" action="/index" method="post">
    <div class="form-grid">
        <label>Jewellery Name</label>
        <input required type="text" name="name">
        <label>Jewellery Type</label>
        <!-- Create a drop down list of all the different types of jewellery. -->
        <select required name="type" >
            <option value="earring">Earring</option>
            <option value="necklace">Necklace</option>
            <option value="ring">Ring</option>
            <option value="bracelet">Bracelet</option>
        </select>
        <label>Price</label>
         <section>
           <span>£</span>
           <input type="number" name="price" step="any" value="1.00">
         </section>
        <label>Image</label>
        <input type="file" name="image">
        <label>Description</label>
        <textarea name="description"></textarea>

      </div>
      <!-- links are used for cancel, buttons used for form submits -->
      <a class="btn btn-danger" href="/books">Cancel</a>
      <button class="btn btn-primary" type="submit" name="button">Create Item</button>
  </form>
</section>
