<%- include ("./partials/message.ejs") %>
<section class="admin-form-container">
  <div class="admin-form">


  <form action="/admin" method="post" enctype="multipart/form-data">
    <h1 class="admin-form-title">Add New Item</h1>
    <div class="bar"></div>
    <div class="form-grid">
        <label>Jewellery Name</label>
        <input required type="text" name="name">
        <label>Jewellery Type</label>
        <!-- Create a drop down list of all the different types of jewellery. -->
        <select required name="type" >
            <option value="earring">Earring</option>
            <option value="necklace">Necklace</option>
            <option value="ring">Ring</option>
            <option value="bracelet">Bracelet</option>
        </select>
        <label>Price</label>
         <section>
           <span class="pound">£</span>
           <input required type="number" name="price" step="any" value="1.00">
         </section>
        <label>Image</label>
        <input required type="file" name="image">
        <label>Description</label>
        <textarea required name="description" rows="3"></textarea>
      </div>
      <div class="btn-row">
        <!-- links are used for cancel, buttons used for form submits -->
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit" name="button">Create Item</button>
      </div>
  </form>
    <form action="/account/logout?_method=DELETE" method="POST">
      <button class="logout" type="submit">Log Out</button>
    </form>
  </div>
</section>
