<div class="slideshow-container">
 <div class="mySlides fade">
  <img class="ad-image" src="/images/alistra1.png" alt="image of model lay on carpet" />
 </div>

 <div class="mySlides fade">
  <img class="ad-image" src="/images/alistra2.png" alt="image of model wearing jewellery" />
 </div>

 <div class="mySlides fade">
  <img class="ad-image" src="/images/alistra3.png" alt="image of model wearing jewellery" />
 </div>

 <div class="mySlides fade">
  <img class="ad-image" src="/images/alistra4.png" alt="image of model wearing jewellery" />
 </div>

 <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
 <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>