<div class="checkout-container">
 <div class="checkout-summary">
  <h2>SUMMARY OF CART</h2>
  <button class="modify-btn">modify cart</button>
  <div class="checkout-details">
   <h3>
    <div class="checkout-item">
     <span>items : </span>
     <span class="item-total">£0</span>
    </div>

    <div class="checkout-item">
     <span>postage & packaging : </span>
     <span class="postage">£0</span>
    </div>

    <div class="checkout-item">
     <span>order total : </span>
     <span class="order-total">£0</span>
    </div>
   </h3>



  </div>


 </div>
 <div class="checkout-footer">
  <img class="checkout-icons" src="/images/checkout.png" alt="checkout icons" />
 </div>
</div>