<div class="slideshow-container">
  <div class="mySlides fade">
    <img class="landing" src="images/LandingImage1.png" />
  </div>

  <div class="mySlides fade">
    <img class="landing" src="images/LandingImage2.png" />
  </div>

  <div class="mySlides fade">
    <img class="landing" src="images/LandingImage3.png" />
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<p class="about">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
  cupixatat non proident, sunt in culpa qui officia deserunt mollit anim id
  est laborum.
</p>

<div class="line"></div>

<h1 id="shop">Shop</h1>

<div class="grid">

  <div class="grid_item">
    <a href="jewellery/ring">
      <img src="images/Ring.png" />
      <div class="overlay">
        <div class="text">Rings</div>
      </div>
    </a>
  </div>

  <div class="grid_item">
    <a href="jewellery/necklace">
      <img src="images/Necklace.png" />
      <div class="overlay">
        <div class="text">Necklaces</div>
      </div>
    </a>
  </div>

  <div class="grid_item">
    <a href="jewellery/earring">
      <img src="images/Earring.png" />
      <div class="overlay">
        <div class="text">Earrings</div>
      </div>
    </a>
  </div>

  <div class="grid_item">
    <a href="jewellery/bracelet">      
      <img src="images/Bracelet.png" />
      <div class="overlay">
        <div class="text">Bracelets</div>
      </div>
    </a>
  </div>
</div>
