@import "sheets/variables.css";
@import "sheets/cart.css";
@import "sheets/index.css";
@import "sheets/admin.css";
@import "sheets/jewellery.css";

body {
  font-family: var(--mainFont);
  position: relative;
  min-height: 100vh;
  background-color: var(--primaryColor);
  padding: 0px;
  margin: 0px;
}

.content-wrap {
  padding-bottom: 175px;
}

/* ---------NAVBAR--------- */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: var(--secondaryColor);
  z-index: 1;
}

.menu-center {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 1170px;
}

.site-icon {
  color: var(--tertiaryColor);
  font-size: 2rem;
  text-decoration: none;
}

.navbar-links {
  display: flex;
}

.drop-down {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
}

.drop-down-title {
  line-height: 40px;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--tertiaryColor);
  text-decoration: none;
  width: 6rem;
  transition: var(--mainTransition);
}

.drop-down-title:hover {
  background-color: var(--tertiaryColor);
  color: var(--secondaryColor);
}

.drop-down-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translatey(-101%);
  transition: var(--mainTransition);
  background-color: rgb(150, 150, 150);
  opacity: 0;
}

.drop-down:hover .drop-down-list {
  transform: translatey(0);
  opacity: 1;
}

.drop-down-link {
  line-height: 40px;
  margin: 0 1rem;
  cursor: pointer;
  height: 100%;
  background-color: transparent;
  text-decoration: none;
  color: var(--secondaryColor);
}

.drop-down-link:hover {
  color: var(--quarternaryColor);
}

.logout {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
}

/* --------FOOTER------- */
.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 175px;
  background-color: var(--secondaryColor);
}

.footer-list {
  font-size: 18px;
  columns: 2;
  list-style: none;
  margin: 1em;
  padding-top: 1em;
}

.footer-list li {
  margin-bottom: 0.5em;
}
.footer-link {
  cursor: pointer;
  text-decoration: none;
  color: var(--oppositePrimary);
}
.footer-link:visited {
  color: var(--oppositePrimary);
}

/* -------------BUTTONS------------- */

.btn {
  border: 1px solid var(--oppositePrimary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-primary {
  color: var(--primaryColor);
  background-color: var(--buttonPrimary);
}

.btn-danger {
  color: var(--primaryColor);
  background-color: var(--dangerColor);
}

.btn-row {
  display: flex;
  justify-content: space-between;
}
