body {
  position: relative;
  min-height: 100vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

.content-wrap {
  padding-bottom: 175px;
}
#nav-bar {
  font-family: "Raleway", sans-serif;
  position: sticky;
  top: 0;
  display: inline-block;
  height: 40px;
  width: 100%;
  color: blue;
  background-color: white;
  z-index: 1;
}

.menu {
  float: right;
}

.button {
  cursor: pointer;
  transition-duration: 0.4s;
  border: 0px;
  margin: 0px;
  float: right;
  height: 40px;
  background-color: transparent;
}

.button:hover {
  color: blue;
  background-color: rgba(230, 230, 230, 0.8);
}

.landing {
  width: 100%;
}

.about {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  margin: 0.3em;
}

.line {
  width: 100%;
  height: 3px;
  background-image: radial-gradient(white, transparent, transparent);
}

#shop {
  color: grey;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  margin-left: 0.5em;
  margin-top: 0.2em;
  display: block;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 175px;
  background-color: rgba(230, 230, 230, 0.3);
}

.footerList {
  font-size: 18px;
  columns: 2;
  list-style: none;
  margin: 1em;
  padding-top: 1em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

.grid_item {
  width: 50%;
  height: auto;
  position: relative;
}

.overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 90%;
  margin: 5% 5% 5% 5%;
  width: 90%;
  background-color: black;
  text-align: center;
  align-items: center;
  transition: 0.3s ease;
}

.grid img {
  margin: 5% 5% 5% 5%;
  width: 90%;
}

.text {
  opacity: 0;
  margin-top: 5%;
  color: white;
  font-size: 2rem;
  padding: 16px 32px;
  transition: 0.3s ease;
}
.overlay:hover {
  opacity: 0.3;
  cursor: pointer;
}
.overlay:hover .text {
  opacity: 1;
}

li {
  margin-bottom: 0.5em;
}

.slideshow-container {
  width: 100%;
  position: relative;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* -----------ADMIN FORM--------- */

.admin-form-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 2rem 0;
}
.form-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  margin-bottom: 2rem;
}
.form-item {
  margin: 2rem 0;
}

.admin-form {
  padding: 3rem;
  border: 2px solid black;
}
