body{
  background-color: red;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#nav-bar {
  font-family: 'Lemonada', cursive;
  position: fixed;
  top: 0;
  display: block;
  height: 40px;
  width: 100%;
  color: blue;
  background-color: yellow;
}

.menu {
	float: right;
}

.button {
  cursor: pointer;
  transition-duration: 0.4s;
  border: 0px;
  margin: 0px;
  float: right;
  height: 40px;
  background-color: transparent;
}

.button:hover {
  color: blue;
  background-color: green;
  transition:
}
