<div id="grid">
		<div><img class="landing" src="images/Ring.png"></div>
		<div><img class="landing" src="images/Necklace.png"></div>
		<div><img class="landing" src="images/Earring.png"></div>
		<div><img class="landing" src="images/Bracelet.png"></div>
	</div>




#grid{
 display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 5vw);
    grid-gap: 15px;
}